<!DOCTYPE html>
<html lang="utf-8">

<head>
    <!-- 使用標籤 -->
    {% load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 將我們需要的google font字體連接 英文 -->
    <link href="https://fonts.googleapis.com/css?family=Coda&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

    <!-- 將我們需要的google font字體連接 中文 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap" rel="stylesheet">

    <!-- 與css連接 -->
    <link rel="stylesheet" href="{% static 'css/member_profile.css' %}">

    <!-- 連接bootstrap相關資源 -->
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>



</head>

<!-- 更新內容 將所有input改為不可編輯 -->

<body class="bg" style="background-color: rgba(0, 5.000000176951289, 20.000000707805157, 1);">
    <div class="container-head container-fluid" style="height: 100%;">

        <!--head-->
        <div class="row  text-center">
            <div class="col-sm-2 ">
                <img type="button" id="logo" src="{% static 'images/home_imag/logo.png' %}"
                    onclick="javascript:location.href='../home'">
            </div>
            <div class="col-sm-1 d-flex align-items-center">
                <p class="member_txt">Member</p>
            </div>
            <div class="col-sm-9">
            </div>
        </div>

        <div style="height: 30px;"></div>
        <form method="post" action="">
        {% csrf_token %}
        <div class="row text-center ">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                {% for field in form %}
                <div class="row align-items-center">
                    <div class="col-sm-3"><span class="user_name text-left">{{ field.label }}</span>
                    </div>
                    <div class="col-sm-6">
                        {{ field }}
                        <!-- <input type="input" disabled="disabled" class="user_input_bg input_font" autocomplete placeholder="User Name"> -->
                    </div>
                    <div class="col-sm-3">
                        <!--更改button 作用：點選後會跳出提示訊息確認後即可更改資料。更改完畢後需再點選一次-->
                        <input type="button" value="編輯" id="ch_name"  data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="{{ field.auto_id }}" class="edit text-center">
                        <!-- <button  id="ch_name"  data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="{{ field.auto_id }}" class="edit text-center">Edit</button> -->
                    </div>
                </div>

                <div style="height: 45px;"></div>
                {% endfor %}

                <div class="row">
                    <!--修改完成，點選後會跳出提示訊息-->
                    <input type="submit" class="finish text-center" value="更改" name="confirm"/>
                    
                </div>

                <div style="height: 45px;"></div>


            </div>
            <div class="col-sm-3">
            </div>
        </div>
        
    </div>
    <!--更新內容-->
    <!--跳出視窗e-mail、phone、name，撰寫完成-->

    <!-- email Modal -->
    <div class="modal fade  bd-example-modal-lg" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered  modal-lg" >
            <div class="modal-content" style="background-color: rgba(0, 5.000000176951289, 20.000000707805157, 1);">
                <div class="modal-body">

                    <div class="row align-items-center">
                        <!--E-mail-->
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                            <label class="Revise_txt text-left">E-mail<label/>
                        </div>
                        <div class="col-sm-7">
                            <input type="input" class="Revise_input input_font" id="recipient-name">
                        </div>
                        <div class="col-sm-1"></div>
                    </div>

                    <div style="height: 20px;"></div>
                    <div class="row">
                        <input type="submit" class="finish text-center" value="確認" >
                        <!-- <button type="button" class="finish text-center" data-bs-dismiss="modal">Finish</button> -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
</body>
<script type="text/javascript"
src="{% static  'js/jquery-3.6.0.min.js' %}"></script>
<script>
    // 資料更新
    $( document ).ready(function() {
      const firstname1=document.getElementById('id_first_name')
      const lastname1=document.getElementById('id_last_name')
      const email1=document.getElementById('id_email')
      firstname1.value='{{ first_name }}'
      lastname1.value='{{ last_name }}'
      email1.value='{{ email }}'
    });
    $('.edit').on('click',function(){
      // const myModalEl = document.getElementById('exampleModal')
      // if (this.id=='1'){
      //   $('#id_username').prop('readonly',false)
      // }else{
      //   $('#id_email').prop('readonly',false)
      // }
    })
    $('#confirm').on('click',function(){
      // $('#exampleModal').prop('class','modal fade')
      // $('#exampleModal').prop('aria-hidden',false)
    })
    const exampleModal = document.getElementById('exampleModal')
    if (exampleModal) {
      exampleModal.addEventListener('show.bs.modal', event => {
        // Button that triggered the modal
        const button = event.relatedTarget
        // Extract info from data-bs-* attributes
        const recipient = button.getAttribute('data-bs-whatever')
        console.log(recipient)
        // Update the modal's content.
        const modellabel=exampleModal.querySelector('.modal-body label')
        const modalTitle = exampleModal.querySelector('.modal-title')
        const modalBodyInput = exampleModal.querySelector('.modal-body input')
        const inputvalue=document.getElementById(recipient)
        modalBodyInput.name=`new_${recipient.substr(3)}`
        modellabel.textContent=`${recipient.substr(3)}:`
        if (recipient.substr(3)=='email'){
          modalBodyInput.autocomplete='email'
        }
        modalBodyInput.value = inputvalue.value
      })
    }
  </script>
</html>