<html>

<head>
	{% load static%}
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Coda&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/styles.css">

	<link rel="stylesheet" href="{% static 'css/login.css' %}">


	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	


</head>

<body style="background-color: rgba(0, 5.000000176951289, 20.000000707805157, 1);">
	<div class="container-head  container-fluid" style="height: 100%;">

		<!--head-->

		<div class="row  text-center">
			<div class="col-sm-2 ">
				<img  type ="button" id="logo" src="{% static 'images/home_imag/logo.png' %}" onclick="javascript:location.href='../home'">
			</div>
			<div class="col-sm-1 d-flex align-items-center">
				<p class="member_txt">Member</p>
			</div>
			<div class="col-sm-9">
			</div>
		</div>

		

		<!--User input-->
		{% if page == 'login' %}
		<div style="height: 100px;"></div>
		<form method="post">
			{% csrf_token %}
		<div class="row align-items-center">
			<div class="col-sm-3 ">
			</div>
			<div class="col-sm-2">
				<span class="user_txt text-left" >帳號</span>
			</div>
			<div class="col-sm-4 ">
				<input type="input" class="user_input_bg" placeholder="UserName" name="username">
			</div>
		</div>

		<div style="height: 50px;"></div>

		<!--password input-->

		<div class="row align-items-center">
			<div class="col-sm-3 ">

			</div>
			<div class="col-sm-2">
				<p class="password_txt text-left" >密碼</p>
			</div>
			<div class="col-sm-4 ">
				<input type="input" class="user_input_bg" placeholder="UserName" name="password">
			</div>
		</div>

		<div style="height: 50px;"></div>

		<!-- login button -->

		<div class="row">
			<div class="col-sm-3 ">

			</div>
			<div class="col-sm-6 ">
				<input type="submit" class="login_btn text-center" value="登入">
				<!-- <button ></button> -->
			</div>
		</div>
		</form>
		<div style="height: 50px;"></div>

		<div class="row">
			<div class="col-sm-3">
			</div>
			<div class="col-sm-3">
				<!--忘記密碼-->
				<a href="{% url 'password_reset' %}" class="forgot_password_txt">忘記密碼</a>
			</div>
			<div class="col-sm-3 text-right">
				<!--創建帳號-->
				<a href="{% url 'register' %}" class="forgot_password_txt ">創建帳號</a>
			</div>
			<div class="col-sm-3">
			</div>
		</div>
		{% else %}
		<form method="post">
			{% csrf_token %}
			{% for field in form %}
			<div class="row align-items-center">
				<div class="col-sm-3 ">
				</div>
				<div class="col-sm-2">
					<span class="user_txt text-left" >{{ field.label }}</span>
				</div>
				<div class="col-sm-4 ">
					{{ field }}
					<!-- <input type="input" class="user_input_bg" placeholder="UserName" name="username"> -->
				</div>
			</div>
			<div style="height: 50px;"></div>
      {% endfor %}
		<!--password input-->

		<!-- login button -->

		<div class="row">
			<div class="col-sm-3 ">

			</div>
			<div class="col-sm-6 ">
				<input type="submit" class="login_btn text-center" value="註冊">
				<!-- <button ></button> -->
			</div>
		</div>
		</form>
		{% endif %}
</body>

</html>