<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="/static/plugins/bootstrap-5.2.0-beta1-dist/css/bootstrap.css" />
    <script type="text/javascript"
    src="{% static  'plugins/bootstrap-5.2.0-beta1-dist/js/bootstrap.bundle.js' %}"></script>
  </head>
  <body>
    {% load crispy_forms_tags %}  
  
  <!--Password Reset Confirm-->
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">密碼重置確認</h2>
		<hr>
        <p>請輸入新的密碼</p>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-floating w-50">
              {{ field }}
              <label for="{{ field.label }}">{{ field.label }}</label>
            </div>
            <br>
            {% endfor %}
            <!-- {{ form|crispy }}                     -->
            <br>
            <div class="row w-50">
              <div class="col">
                <button class="btn btn-primary" type="submit">重設密碼</button>
              </div>
            <div class="col">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                class="bi bi-info-circle" viewBox="0 0 16 16" data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-title="你的密碼必須包含至少 8 個字元。你的密碼不能完全是數字。" class="col align-self-end">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                  d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
              </svg>
            </div>
          </div>
        </form>
    </div>
  </body>
  <script type="text/javascript">
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  </script>
</html>