<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/plugins/bootstrap-5.2.0-beta1-dist/css/bootstrap.css" />

</head>

<body>
  {% load crispy_forms_tags %}
  <div class="container p-5">
    <h2 class="font-weight-bold mt-3">重設密碼</h2>
    <hr>
    <p>輸入電子郵件，可以設定新的密碼</p>
    
        <form method="POST">
          {% csrf_token %}
          <!-- {{ password_reset_form|crispy }} -->
          <!-- <div class="form-floating w-25">
            {{ password_reset_form.label }}
            {{ password_reset_form|crispy }}
          </div> -->
          {% for field in password_reset_form %}
          <div class="form-floating w-50">
            {{ field }}
            <label for="{{ field.label }}">{{ field.label }}</label>
          </div>       
          {% endfor %}
          <br>
          <button class="btn btn-primary" type="submit">送出</button>
        </form>
  </div>
</body>

</html>